.dttable {
	border: 1px solid #666;
	width: 90%;
	margin: 20px 0 20px 0 !important;
}

.dttable th,.dttable td {
	padding: 2px 4px 2px 4px !important;
	text-align: center;
	vertical-align: center;
}

.dttable thead tr {
	background-color: #E4EFF5;
}

.dttable th.sorted {
	background-color: #D3E7F2;
}

.dttable th a,.dttable th a:visited {
	color: black;
}

.dttable th a:hover {
	color: black;
}

.dttable th.sorted a,.dttable th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
	text-decoration: underline;
	border-bottom : none;
}

.dttable th.sortable a {
	background-image: url(../images/arrow_off.png);
    background-repeat: no-repeat;
}

.dttable th.order1 a {
	background-image: url(../images/arrow_down.png);
	background-repeat: no-repeat;
}

.dttable th.order2 a {
	background-image: url(../images/arrow_up.png);
	background-repeat: no-repeat;
}

.dttable tr.odd {
	background-color: #fff
}

.dttable tr.tableRowEven,.dttable tr.even {
	background-color: #E4EFF5
}